{
  "all": true,
  "extension": [
    ".ts"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "tests/",
    "build/",
    "node_modules/",
    ".nyc_output/",
    ".github",
    "**/*.d.ts",
    "docs"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "sourceMap": true,
  "instrument": true,
  "report-dir": "./coverage",
  "branches": 85,
  "lines": 85,
  "functions": 85,
  "statements": 85
}