{
  "nyc": {
    "all": true,
    "extension": [
      ".ts"
    ],
    "include": [
      "src/**/*.ts"
    ],
    "exclude": [
      "tests/",
      "build/",
      "node_modules/",
      ".nyc_output/",
      ".github",
      "**/*.d.ts"
    ],
    "require": [
      "ts-node/register"
    ],
    "reporter": [
      "lcov"
    ],
    "sourceMap": true,
    "instrument": true,
    "report-dir": "./coverage"
  }
}