name: NPM Publish
on:
  release:
    types: [prereleased]
jobs:
  publish-gh:
    name: Publish GitHub package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@arrowsphere'
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Publish to GitHub Packages (prerelease)
        run: npm publish --access public --tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish-npm:
    name: Publish NPM package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@arrowsphere'
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Publish to npmjs (prerelease)
        run: npm publish --access public --tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}